.navbar {
    display: flex;
    align-items: center;
    background: lightgreen;
    padding: min(15px, 8%);
    gap: 10px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.navbar-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
    font-family: "Product sans", sans-serif;
    padding: min(15px, 8%);
    border-radius: 8px;
    text-decoration: none;
}

.hero-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: lightgreen;
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: auto;
    gap: 65px;
}

.text-hero-section {
   padding-left: min(80px, 8%);
   font-size: 20px;
}

.image-hero-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    padding-top: min(15px, 8%);
    padding-right: min(80px, 8%);
    padding-bottom: min(15px, 8%);
}

.feature-section {
    background: lightgreen;
    padding: min(15px, 8%)
}

.footer-section {
    background: lightgreen;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: min(15px, 8%)
}